@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?y8qg84');
    src:    url('fonts/icomoon.eot?y8qg84#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?y8qg84') format('truetype'),
        url('fonts/icomoon.woff?y8qg84') format('woff'),
        url('fonts/icomoon.svg?y8qg84#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
    content: "\e647";
}
.icon-cloud:before {
    content: "\e64a";
}
.icon-cloud-rain:before {
    content: "\e64d";
}
.icon-cloud-hailstones:before {
    content: "\e64e";
}
.icon-cloud-snow:before {
    content: "\e64f";
}
.icon-cloud-windy:before {
    content: "\e650";
}
.icon-sun-wind:before {
    content: "\e651";
}
.icon-cloud-fog:before {
    content: "\e652";
}
.icon-cloud-sun:before {
    content: "\e653";
}
.icon-cloud-lightning:before {
    content: "\e654";
}
.icon-teacup-empty:before {
    content: "\e6cb";
}
.icon-teacup-fullclear:before {
    content: "\e6cc";
}
.icon-teacup-full:before {
    content: "\e80b";
}
.icon-happy:before {
    content: "\e889";
}
.icon-smile:before {
    content: "\e88a";
}
.icon-sad:before {
    content: "\e88d";
}
.icon-neutral:before {
    content: "\e893";
}
.icon-wondering:before {
    content: "\e89b";
}

