<h2>KaffeeKlatsch</h2>
<h3>
  Track your mood, your<br />coffee intake, and the<br />weather to discover when<br />you’re at your best!
</h3>
<a ng-show="{{true}}" href="<%= asset_path('#/sign_up') %>">Sign Up</a>
<a ng-show="{{true}}" href="<%= asset_path('#/log_in') %>">Log In</a>
