<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Kaffeeklatsch</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'angulars/root/application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="rootApp">
  <div ng-view></div>
</body>
</html>
